{% extends "base.html" %}


{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class='container-fluid m-4'>
    <h3>Depil-arte</h3>
    <p>Es un emprendimiento profesional, dedicado al servicio de la podología clínica reconocida por el ministerio de salud
        , capacitados para evaluar diagnosticar y entregar tratamientos personalizados, según las patologías de cada paciente.
        El compromiso con el público es entregar nuestra experiencia con una atención personalizada, aportando bienestar y orientación.
    </p>
</div>

{% endblock %}