{% extends "base.html" %}

{% block titulo %} Horas {% endblock %}

{% block contenido %} 

<div class="card m-4">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href=" {% url 'crear' %} " role="button">Argegar nueva hora</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Rut</th>
                        <th scope="col">Dolencia</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Horario</th>
                        <th scope="col">Paciente diabetico</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cliente in horas %}
                    <tr class="">
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.rut }}</td>
                        <td>{{ cliente.coment }}</td>
                        <td>{{ cliente.fecha }}</td>
                        <td>{{ cliente.hora }}</td>
                        <td>{{ cliente.diab }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}